body {
  font-size: .9em;
}

md-sidenav.md-locked-open {
  width: 220px;
  min-width: 220px;
}

md-sidenav {
  background: #2B323A;
  color: #bdbbbb;
  min-width: initial !important;
  width: 164px !important;
  min-height: 100vh !important;
}

.custom-ripple[md-ink-ripple] {
  position: relative;
}

.button-icon-font {
  font-size: 25px;
}

/*
 * Login
 */
.login-page {
  background: #f3f4f6;
  height: 100vh;
}

.login-page > div {
    height: 90vh;
}

.login-page button {
  height: 42px;
}

.login-page md-whiteframe {
  background: white;
  border-radius: 4px;
}

.login-form-logo {
  height: 100px;
}

.login-form-logo img {
  width: 200px;
  margin-bottom: 32px;
}
/* Login */

.md-button.md-fab.md-fab-bottom-right {
  font-size: 1.8em;
  position: fixed;
}

.header-logo > a > img {
  height: 75px;
  margin-bottom: -11px;
}

.user-avatar {
  border-radius: 99%;
}

/* Menu */
.menu-item {
  margin-top: 10px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #bdbbbb;
  display: block;
}

.menu-item:hover {
  cursor: pointer;
  background: #3C4651;
  color: #fff;
  border-left: 4px solid #03A9F4;
}

.menu-item.active {
  cursor: pointer;
  background: #3C4651;
  color: #fff;
  border-left: 4px solid #03A9F4;
}

.menu-item > .mdi {
  font-size: 2em;
  margin-left: 4px;
}
/* /Menu */

md-list-item a {
  text-decoration: none;
}

.no-padding {
  padding: 0;
}

.projects-page md-whiteframe {
  height: 85vh;
  overflow: scroll;
}

.pull-right {
  float: right;
}

.jump-dialog-help {
  color: #7F7F83;
  padding-bottom: 20px;
}
.project-link {
  color: #2B323A;
  text-decoration: none;
}

/*
 * Kanban view
 */
.kanban-container > div {
}

.kanban-container .header {
  background: #E3E3E3;
  border-radius: 5px;
  padding: 10px;
}

.kanban-container .task {
  margin-top: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  display: block;
  min-height: 40px;
}

.kanban-container a {
  text-decoration: none;
  color: #333;
}

.kanban-container .task:hover {
  background: #f5f5f5;
}

.kanban-container .task > img {
  border-radius: 100px;
  width: 14%;
  float: left;
  margin-right: 5px;
}

.kanban-container .tasks .project {
  background: #BDBBBB;
  padding: 2px;
  border-radius: 0 0 5px 5px;
  font-size: .8em;
  font-weight: bold;
}
/* /Kanban view */

/*
 * Iteration
 */
.iteration-table {
  text-align: center;
  border-collapse:collapse;
  font-weight: 200;
  border: 1px solid #e5e5e5;
}

.iteration-table td, .iteration-table th {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
}
/* /Iteration */

/*
 * Iteration card view
 */
.iteration-progress-card {
  background: #e5e5e5;
  min-height: 100px;
  border-radius: 8px;
  margin: 25px;
  text-decoration: none;
  color: #333;
}

.iteration-progress-card > .date > * {
  padding: 4px;
}

.iteration-progress-card > .date {
  background: #f5f5f5;
  text-align: center;
  border-radius: 8px 0 0 8px;
  margin: 0;
}

.iteration-progress-card > .date > .task-count {
  font-size: 2em;
}

.iteration-progress-card .progress-state > div {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.iteration-progress-card .progress-state > div > span:first-child {
  border-bottom: 1px solid #c2c2c2;
}

.iteration-progress-card .progress-state > div > span {
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 200;
}
/* /Iteration card */

.jump-tips {
  font-size: x-small;
}

.unsaved-comment {
  padding-top: 10px !important;
  margin-bottom: 10px !important;
  border: 1px solid #e5e5e5;
  border-radius: 9px;
  background-color: #F9F9F9;
}

.cursor-pointer {
  cursor: pointer;
}
.img-circle {
  border-radius: 50%;
}

.comment-container {
  height: 44px;
  max-height: 44px;
  min-height: 44px;
  background: #F7F7F7;
  font-size: 14px;
}

.text-black {
  color: #000;
}

.vertical-align-middle {
  vertical-align: middle;
}

.line-vertical:before {
  display: block;
  content: "";
  position: absolute;
  top: 100px;
  bottom: 30px;
  left: 50px;
  width: 2px;
  background-color: #B8B6B6;
  z-index: 0;
}

.line-vertical .md-whiteframe-z1 {
  background: #fff;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.line-vertical .task-activity-icon {
  position: absolute;
  margin-top: -34px;
  margin-left: 29px;
  color: #CFC6D5;
  font-size: 16px;
  float: left;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #f3f3f3;
  border: 2px solid #fff;
  border-radius: 50%;
}