body {
  font-size: .9em;
}

md-sidenav.md-locked-open {
  width: 220px;
  min-width: 220px;
}

md-sidenav {
  background: #2B323A;
  color: #bdbbbb;
  min-width: initial !important;
  width: 164px !important;
}

.custom-ripple[md-ink-ripple] {
  position: relative;
}

.button-icon-font {
  font-size: 25px;
}

/*
 * Login
 */
.login-page {
  background: #f3f4f6;
  height: 100vh;
}

.login-page > div {
    height: 90vh;
}

.login-page button {
  height: 42px;
}

.login-page md-whiteframe {
  background: white;
  border-radius: 4px;
  padding: 48px 67px 36px 67px;
}

.login-form-logo {
  height: 100px;
}

.login-form-logo img {
  width: 200px;
  margin-bottom: 32px;
}
/* Login */

.md-button.md-fab.md-fab-bottom-right {
  font-size: 1.8em;
  position: fixed;
}

.header-logo > img {
  height: 75px;
  margin-bottom: -11px;
}

.user-avatar {
  border-radius: 99%;
}

/* Menu */
.menu-item {
  margin-top: 10px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #bdbbbb;
  display: block;
}

.menu-item:first-child {
  margin-top: 0;
}

.menu-item:hover {
  cursor: pointer;
  background: #3C4651;
  color: #fff;
  border-left: 7px solid #03A9F4;
}

.menu-item.active {
  cursor: pointer;
  background: #3C4651;
  color: #fff;
  border-left: 7px solid #03A9F4;
}

.menu-item > .mdi {
  font-size: 2em;
  margin-left: 4px;
}
/* /Menu */
