{% extends 'base.jinja' %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){


  // Use client side validation on the form
  $("form#reset-form").validate({
    errorElement: "span",
    wrapper: "li",
    errorPlacement: function(error, element) {
      error.insertAfter(element);
      console.log(error);
      console.log(element);
      element.parents("div.clearfix").addClass("error");
    },
    submitHandler: function(form) {
      $("form#reset-form button.cont").button('loading');
      form.submit();
    }
  });
});
</script>
{% endblock %}

{% block container %}
<div class="row-fluid">
  <div style="text-align:center">
    <img src="http://placehold.it/140x140" class="img-polaroid">
  </div>
</div>
<br>
<div class="row-fluid clearfix">
  <div>
    <div id="reset" class="center" style="text-align:center">
      <form action="{{ url_for('nereid.user.reset_account') }}" 
          method="POST" class="clearfix" id="reset-form">
        <fieldset>
          <div class="control-group ">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input class=" required" id="email" name="email" placeholder="your email" type="text" value="">
              </div>
            </div>
          </div>

          <button class="btn btn-info " value="" type="submit">
            <i class="icon-signin icon-white"></i>
            {% trans %}Reset Password{% endtrans %}
          </button>
	  <br/>
          <br/>
          <div class="alert alert-info">
            <p>You can change or reset the password for your account by providing the email you used to sign up to your account and we will send you an email with a link to reset your password</p>
          </div>

          <h5>{% trans %}Don't have an account ? {% endtrans %}<a href="{{ url_for('nereid.user.registration', next=request.args.get('next', url_for('nereid.website.home'))) }}">Sign up now</a>!</h5>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div>

</div>

{% endblock %}
