Hi {{ nereid_user.display_name }},
<br/>
Thank you for registering for an account.
<br/><br/>
To activate your account, please click the link <a href="{{ nereid_user.get_activation_link(_external=True) }}">here</a>
<br/>
Thanks
