-----------------------------==-----------------------------
REPLY ABOVE THIS LINE TO POST AN ANSWER

Task {{ history.project.rec_name }}
{% if history.new_assigned_to.name %}
Assigned to {{ history.new_assigned_to.name }}
{%- endif -%}

{% if history.new_state %}
Status {{ history.new_state }}
{%- endif -%}

{{ history.updated_by.display_name or h_line.create_uid.name }} On {{ history.date|dateformat }}

{%- if history.comment %}
  {{ history.comment }}
{% endif -%}
-------------------------------------------------------------------------------------------

{%- for h_line in last_history %}
  {{ h_line.updated_by.display_name or h_line.create_uid.name }}
  {{ h_line.date|dateformat }}
  {% if h_line.new_assigned_to.display_name %}
  Assigned to {{ h_line.new_assigned_to.display_name }}
  {% endif %}
  {%- if h_line.comment -%}
    {{ h_line.comment }}
  {% endif -%}
-----------------------------------------------------------------------------------------
{%- endfor %}

You can goto {{ url_for('project.work.render_task', task_id=history.project.work.id, project_id=history.project.parent.id, _external=True) }} to comment and attach files.

{% for participant in history.project.participants -%}
{% if not loop.first and not loop.last %},{% endif -%}{% if not loop.first and loop.last %} and{% endif %} {% if participant.display_name %}{{ participant.display_name }}{% endif %}{% endfor %} {{ ngettext('is', 'are', history.project.participants|count) }} subscribed to this task, and will be notified of future replies.
