-----------------------------==-----------------------------
REPLY ABOVE THIS LINE TO POST AN ANSWER

Task		: {{ history.project.work.name }}
Assigned To	: {{ history.project.assigned_to and history.project.assigned_to.display_name or '*Unassigned*' }}
Status		: {{ history.project.progress_state|upper }} [{{ history.project.state|upper }}]
URL		: {{ url_for('project.work.render_task', task_id=history.project.id, project_id=history.project.parent.id, _external=True) }}

-------------------------------------------------------------------------------
Update by *{{ history.updated_by.display_name }}* on *{{ history.date|dateformat }}*

{% if history.new_assigned_to != history.previous_assigned_to %}
{{ history.previous_assigned_to and history.previous_assigned_to.display_name  or 'Unassigned'}} -> {{ history.new_assigned_to and history.new_assigned_to.display_name  or 'Unassigned'}}
{% endif %}
{% if history.previous_progress_state != history.new_progress_state %}
{{ history.previous_progress_state }} -> {{ history.new_progress_state }}
{% endif %}


{%- if history.comment %}
{{ history.comment|wordwrap|safe }}
{% else %}
- No comments -
{% endif -%}

-------------------------------------------------------------------------------
** 				▼ Previous Updates ▼			     **
-------------------------------------------------------------------------------
{% for h_line in last_history %}
-------------------------------------------------------------------------------
Update by {{ h_line.updated_by.display_name or h_line.create_uid.name }} on {{ h_line.date|dateformat }}
{% if h_line.new_assigned_to != h_line.previous_assigned_to %}
{{ h_line.previous_assigned_to and h_line.previous_assigned_to.display_name  or 'Unassigned'}} -> {{ h_line.new_assigned_to and h_line.new_assigned_to.display_name  or 'Unassigned'}}
{% endif %}
{% if h_line.previous_progress_state != h_line.new_progress_state %}
{{ h_line.previous_progress_state }} -> {{ h_line.new_progress_state }}
{% endif %}

{% if h_line.comment %}
{{ h_line.comment|wordwrap|safe }}
{% else %}
- No comments -
{% endif %}
-------------------------------------------------------------------------------
{% endfor %}
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
** 				▼ Subscribers ▼			     	     **
-------------------------------------------------------------------------------

{%- for participant in history.project.participants -%}
* {{ participant.display_name }}
{%- endfor -%}

-------------------------------------------------------------------------------

