<md-toolbar layout="row">
  <span class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button ng-click="toggleLeft()" aria-label="Menu toggle" hide-gt-md flex="10">
      <i class="mdi mdi-menu button-icon-font"></i>
    </md-button>

    <span flex="15" flex-sm="30" class="header-logo">
      <a ui-sref="base.projects()">
        <img src="images/logo.png"/>
      </a>
    </span>


    <!-- TODO: Make search work -->
    <md-autocomplete ng-if="showGlobalSearch" layout-margin flex
      global-search="showGlobalSearch"
      md-autofocus="true"
      md-no-cache="false"
      md-search-text="searchText"
      md-items="item in []"
      md-item-text="searchText"
      md-delay="300"
      md-selected-item="selectedSearchItem"
      md-selected-item-change="searchItemClicked(item)"
      placeholder="Search for #taskId, project name, task or any text">
      <span md-highlight-text="searchText"></span>
    </md-autocomplete>

    <span flex ng-if="!showGlobalSearch"></span>

    <md-button aria-label="search" ng-click="showGlobalSearch=!showGlobalSearch">
      <i class="mdi mdi-magnify button-icon-font" ng-if="!showGlobalSearch"></i>
      <i class="mdi mdi-arrow-right button-icon-font" ng-if="showGlobalSearch" ></i>
      <md-tooltip>
        Search (/)
      </md-tooltip>
    </md-button>

    <md-menu>
      <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu()">
        <i class="mdi mdi-dots-vertical button-icon-font"></i>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="logout()">
            <i class="mdi mdi-logout"></i> Logout
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="openChangePasswordPage()">
            <i class="mdi mdi-account-key"></i> Change Password
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

  </span>
</md-toolbar>

<div layout="row" layout-fill>
  <div ui-view="sidenav"></div>

  <md-content flex>
    <!-- ui-view for main interface -->
    <div ui-view="main-view"></div>
  </md-content>
</div>
