<div class="login-page">
  <div layout="row" layout-align="center center">
    <div layout="column" flex-gt-md="40" flex-md="90" flex-sm="100">
      <md-whiteframe class="md-whiteframe-z1">
        <form name="changePasswordForm" ng-submit="submit(changePasswordForm)"
          layout="column" layout-align="center center" layout-padding >
          <md-input-container layout-fill>
            <label for="oldPassword">Old Password</label>
            <input name="oldPassword" ng-model="user.old_password" type="password" required>
            <div ng-messages ng-if="errors.old_password">
              <div ng-message>{{ errors.old_password[0] }}</div>
            </div>
          </md-input-container>
          <md-input-container layout-fill>
            <label for="password">New Password</label>
            <input name="password" ng-model="user.password" type="password" required>
            <div ng-messages ng-if="errors.password">
              <div ng-message>{{ errors.password[0] }}</div>
            </div>
          </md-input-container>
          <md-input-container layout-fill>
            <label for="repeatPassword">Repeat New Password</label>
            <input name="repeatPassword" ng-model="user.confirm" type="password" required>
            <div ng-messages ng-if="errors.confirm">
              <div ng-message>{{ errors.confirm[0] }}</div>
            </div>
          </md-input-container>
          <md-button class="md-raised md-primary md-hue-2" ng-disabled="changingPassword" layout-fill>
            Change Password
          </md-button>
        </form>
        <div layout="row" layout-align="center center">
        </div>
        <md-progress-linear ng-if="changingPassword" md-mode="indeterminate"></md-progress-linear>
      </md-whiteframe>
    </div>
  </div>
</div>
