<div ng-init="loadIteration()">

  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <a aria-label="search" ui-sref="base.iterations()" flex="5">
        <i class="mdi mdi-arrow-left button-icon-font"></i>
      </a>
      <h2 class="md-flex">Iteration {{ iteration.start_date }} - {{ iteration.end_date }}</h2>
      <span flex></span>
      <span>
        Open
      </span>
    </div>
    <md-progress-linear ng-if="loadingIteration" md-mode="indeterminate"></md-progress-linear>
  </md-toolbar>

  <div class="iteration-progress-card" layout="row" layout-margin>
    <div class="date" flex="10" layout-fill>
      TASKS
      <div class="task-count">
        {{ iteration.count_tasks }}
      </div>
      <div class="period">
        <!--TODO: Get ISO date and then show it using filter-->
        {{ iteration.start_date }} - {{ iteration.end_date }}
      </div>
    </div>
    <div layout="column" layout-fill>
      <md-progress-linear class="md-accent" md-mode="determinate" value="25"></md-progress-linear>
      <div layout="row" class="progress-state">
        <div layout="column">
          <span>Backlog</span>
          <span>{{ iteration.count_backlog }}</span>
        </div>
        <div layout="column">
          <span>Planning</span>
          <span>{{ iteration.count_planning }}</span>
        </div>
        <div layout="column">
          <span>In Progress</span>
          <span>{{ iteration.count_in_progress }}</span>
        </div>
        <div layout="column">
          <span>Review</span>
          <span>{{ iteration.count_review }}</span>
        </div>
        <div layout="column">
          <span>Done</span>
          <span>{{ iteration.count_done }}</span>
        </div>
      </div>
    </div>
  </div>

  <md-select placeholder="Group By" ng-model="groupBy" offset="90" ng-change="groupIteration(groupBy)">
    <md-option ng-value="group" ng-repeat="group in groups">{{ group }}</md-option>
  </md-select>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Stats">
      <md-content layout="column">
        <table class="iteration-table" layout-fill>
          <thead>
            <th>User</th>
            <th>Progress</th>
            <th>Backlog</th>
            <th>Planning</th>
            <th>In Progress</th>
            <th>Review</th>
            <th>Done</th>
          </thead>
          <tbody>
            <tr>
              <!--TODO fetch from API-->
            </tr>
          </tbody>
        </table>
      </md-content>
    </md-tab>

    <md-tab label="tasks">
      <md-content class="md-padding">
        <tasks-kanban ng-if="iteration.tasks" tasks="iteration.tasks"></tasks-kanban>
      </md-content>
    </md-tab>

  </md-tabs>
</div>
