<div layout="row" layout-fill ng-init="loadProjects()">
  <md-whiteframe class="md-whiteframe-z1" layout="column" flex="50" layout-margin>
    <md-subheader class="md-sticky-no-effect">Projects</md-subheader>
    <md-input-container class="no-padding" flex>
      <label>Search Project</label>
      <input ng-model="searchProject">
    </md-input-container>
      <!--TODO: Add more project fields-->
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="project in projects | filter:searchProject">
          <a ui-sref="base.project({projectId: project.id})">
            <div class="md-list-item-text">
              <h4>{{ project.displayName}} {{ project.name }}</h4>
              <p></p>
            </div>
          </a>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-z1" layout flex="50" layout-margin>
  </md-whiteframe>
</div>
