<md-toolbar md-scroll-shrink class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>
      <span>{{ project.name }}</span>
    </h3>
  </div>
</md-toolbar>

<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
  <md-tab label="Open Tasks" md-on-select="updateRoute('open')">
    <md-content class="md-padding">
    </md-content>
  </md-tab>

  <md-tab label="All Tasks" md-on-select="updateRoute('all')">
    <md-content class="md-padding">
    </md-content>
  </md-tab>

  <md-tab label="My Tasks" md-on-select="updateRoute('my')">
    <md-content class="md-padding">
    </md-content>
  </md-tab>

</md-tabs>

<div ui-view="task-tabs"></div>

<create-task project="project" ng-if="project">
  <nav mfb-menu position="br" effect="zoomin" label="New Task (n)"
       active-icon="mdi mdi-close" resting-icon="mdi mdi-plus"
       toggling-method="hover">
    <button mfb-button icon="mdi mdi-paperclip" label="File"></button>
  </nav>
</create-task>
