<div layout="column" ng-init="loadTask()">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <a aria-label="search" ui-sref="base.project.tasks()" flex="5">
        <i class="mdi mdi-arrow-left button-icon-font"></i>
      </a>
      <div class="md-toolbar-tools">
        <h2 class="md-flex">{{ task.displayName }} {{ task.name }}</h2>
      </div>
    </div>
    <md-progress-linear ng-if="loadingTask" md-mode="indeterminate"></md-progress-linear>
  </md-toolbar>

  <div layout="row">
    <md-whiteframe class="md-whiteframe-z1" layout-margin flex>
      <md-toolbar class="toolbar-height-reset">
        <div class="md-toolbar-tools md-subhead toolbar-height-reset">
          <div layout-margin>
            <img gravatar-src="task.assigned_to.email" gravatar-size="40" class="md-avatar img-circle" alt="{{item.who}}" /> 
          </div>
          {{ task.created_by.displayName }}&nbsp;&nbsp; Opened on {{ task.create_date | date:'medium' }}
          <div flex></div>
          <i class="mdi mdi-pencil button-icon-font"></i>
        </div>
      </md-toolbar>
      <div layout-padding layout-margin marked="task.comment"></div>
    </md-whiteframe>
  </div>
  <md-content layout-padding>
    <md-whiteframe class="md-whiteframe-z1" layout layout-padding layout-margin>
      <md-list flex>
        <!-- Task comment -->
        <md-list-item class="md-3-line" ng-repeat="comment in task.comments">
          <img gravatar-src="comment.updatedBy.email"
            class="md-avatar" alt="{{ comment.updatedBy.displayName }}"
            ng-show="comment.objectType == 'project.work.history'"/>
          <div class="md-list-item-text" ng-if="comment.objectType == 'project.work.history'">
            <span class="progress-change" ng-if="comment.new_progress_state">
              <span>{{ comment.previous_progress_state }}</span>
              <i class="mdi mdi-arrow-right-bold"></i>
              <span>{{ comment.new_progress_state }}</span>
            </span>
            <span ng-if="comment.new_assignee">Assigned to {{ comment.new_assignee.displayName }}</span>
            <p marked="comment.comment"><p>
          </div>

          <div ng-if="comment.objectType == 'timesheet.line'">
            Worked for {{ comment.displayName }}
          </div>
          <md-divider ng-if="comment.objectType == 'project.work.history'"></md-divider>
        </md-list-item> <!-- /Task com ment -->

        <!-- Draft comment -->
        <md-list-item ng-if="commentObj.comment" class="unsaved-comment cursor-pointer">
          <img gravatar-src="user.email" class="md-avatar" alt="{{ user.displayName }}" />
          <div class="md-list-item-text">
            <span class="progress-change" ng-if="task.progress_state != commentObj.progress_state">
              <span>{{ task.progress_state }}</span>
              <i class="mdi mdi-arrow-right-bold"></i>
              <span>{{ commentObj.progress_state }}</span>
            </span>
            <p marked="commentObj.comment"><p>
          </div>
          <md-tooltip>Comment not saved yet. Press 'Comment' To update.</md-tooltip>
        </md-list-item>
        <div ng-if="commentObj.hours">
          Worked for {{ commentObj.hours }} hours
        </div> <!-- /Draft comment -->
        <md-divider></md-divider>
        <md-progress-linear ng-if="savingComment" md-mode="indeterminate"></md-progress-linear>

      </md-list>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z1" layout layout-padding layout-margin>
      <form name="commentForm" ng-submit="submitComment()" layout="column" flex>

        <textarea rows="5" ng-model="commentObj.comment" placeholder="Add your comment" flex required></textarea>
        <div layout="row">
          <!-- FIXME: md-select seems to be broken in the currrent angular material build, so using basic HTML select-->
          <select placeholder="Assign To" ng-model="commentObj.assigned_to" flex="20">
            <option ng-value="participant.id" ng-repeat="participant in project.participants">{{ participant.displayName }}</option>
          </select>
          <select placeholder="State" ng-model="commentObj.progress_state" flex="20">
            <option ng-value="state.value" ng-repeat="state in states">{{ state.text }}</option>
          </select>
          <md-input-container ng-if="user.employee" flex>
            <label>Hours</label>
            <input ng-model="commentObj.hours" type="number" step="0.01">
          </md-input-container>
        </div>

        <div class="md-actions" layout="row">
          <span flex></span>
          <md-button class="md-primary" ng-disabled="savingComment">
            Comment
          </md-button>
        </div>
      </form>
    </md-whiteframe>

  </md-content>
</div>
