<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
  <md-tab label="Open Tasks" md-on-select="updateRoute('open')">
    <md-content class="md-padding">
    </md-content>
  </md-tab>

  <md-tab label="All Tasks" md-on-select="updateRoute('all')">
    <md-content class="md-padding">
    </md-content>
  </md-tab>

  <md-tab label="My Tasks" md-on-select="updateRoute('my')">
    <md-content class="md-padding">
    </md-content>
  </md-tab>

</md-tabs>

<div ui-view="task-tabs"></div>

<create-task project="project" ng-if="project">
  <md-button
    class="md-fab md-accent md-fab-bottom-right"
    aria-label="New Task" ng-click="createNewTask()">
    <i class="mdi mdi-plus"></i>
  </md-button>
</create-task>
