<md-progress-linear ng-if="loadingTasks" md-mode="indeterminate"></md-progress-linear>
<div class="kanban-container" layout="row">

  <div flex="22" ng-repeat="progressState in progressStates" layout-margin>
    <div class="header">
      {{ progressState }}
    </div>
    <div class="tasks">
      <a ui-sref="base.project.task({projectId: task.parent, taskId: task.id})" class="task" ng-repeat="task in kanbanTasks | filter:{ progress_state: progressState}">
        {{ task.displayName }} {{ task.name | limitTo: 50 }}
      </a>
    </div>
  </div>

</div>
