<div layout="column" ng-init="loadTask()">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <a aria-label="search" ui-sref="base.project.tasks()" flex="5">
        <i class="mdi mdi-arrow-left button-icon-font"></i>
      </a>
      <div class="md-toolbar-tools">
        <h2 class="md-flex">{{ task.displayName }} {{ task.name }}</h2>
      </div>
    </div>
    <md-progress-linear ng-if="loadingTask" md-mode="indeterminate"></md-progress-linear>
  </md-toolbar>
  <!-- Task description -->
  <div layout="row" class="line-vertical">
    <md-whiteframe class="md-whiteframe-z1" layout-margin flex>
      <md-toolbar class="comment-container">
        <div class="md-toolbar-tools md-subhead comment-container">
          <div layout-margin>
            <img gravatar-src="task.created_by.email" gravatar-size="38" class="md-avatar img-circle vertical-align-middle" alt="{{task.created_by.displayName}}" /> 
          </div>
          <div class="text-black toolbar-font">
            {{ task.created_by.displayName }} Opened on {{ task.create_date | date:'medium' }}
          </div>
          <span flex></span>
          <i class="mdi mdi-pencil button-icon-font text-black"></i>
        </div>
      </md-toolbar>
      <div layout-padding layout-margin marked="task.comment"></div>
    </md-whiteframe>
  </div>
  <!-- /Task description -->
  <!-- Comment description -->
  <div class="line-vertical">
    <div layout="column"  ng-repeat="comment in task.comments" layout-margin>
      <md-whiteframe class="md-whiteframe-z1" ng-if="comment.objectType == 'project.work.history'">
        <md-toolbar class="comment-container">
          <div class="md-toolbar-tools md-subhead comment-container">
            <div layout-margin>
              <img gravatar-src="comment.updatedBy.email" class="md-avatar img-circle vertical-align-middle" gravatar-size="38" alt="{{ comment.updatedBy.displayName }}"/>
            </div>
            <div class="text-black toolbar-font">
              {{ comment.updatedBy.displayName }} commented on {{ comment.create_date | date:'medium'}}
            </div>
           
          </div>
        </md-toolbar>
        <div layout-padding layout-margin>
          <p marked="comment.comment"></p>
        </div>
      </md-whiteframe>

      <div class="row activity-box">
        <div ng-if="comment.new_assignee">
          <i class="mdi mdi-checkbox-multiple-blank-outline task-activity-icon"></i>
          Assigned to {{ comment.new_assignee.displayName }}
        </div>
        <div ng-if="comment.objectType == 'timesheet.line'">
          <i class="mdi mdi-checkbox-multiple-blank-outline task-activity-icon"></i>
          Worked for {{ comment.displayName }}
        </div>
        <div ng-if="comment.new_progress_state">
          <i class="mdi mdi-checkbox-multiple-blank-outline task-activity-icon"></i>
          Changed task state from 
          <span class="progress-change">
            <span>{{ comment.previous_progress_state }}</span>
            <i class="mdi mdi-arrow-right-bold"></i>
            <span>{{ comment.new_progress_state }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
  <!-- /Comment description -->

  <!-- Draft comment -->
  <md-list-item ng-if="commentObj.comment" class="unsaved-comment cursor-pointer">
    <img gravatar-src="user.email" class="md-avatar" alt="{{ user.displayName }}" />
    <div class="md-list-item-text">
      <span ng-if="task.progress_state != commentObj.progress_state">
        <span>{{ task.progress_state }}</span>
          <i class="mdi mdi-arrow-right-bold"></i>
        <span>{{ commentObj.progress_state }}</span>
      </span>
      <p marked="commentObj.comment"><p>
      <div ng-if="commentObj.hours">
        <p>Worked for {{ commentObj.hours }} hours</p>
      </div> 
    </div>
    <md-tooltip>Comment not saved yet. Press 'Comment' To update.</md-tooltip>
  </md-list-item>
  <!-- /Draft comment -->

  <md-progress-linear ng-if="savingComment" md-mode="indeterminate"></md-progress-linear>
  <div layout="column" layout-margin class="new-comment-container">
    <div layout="row">
      <md-whiteframe class="md-whiteframe-z1" layout-margin flex>
        <form name="commentForm" ng-submit="submitComment()" layout="column" flex>
          <textarea rows="5" ng-model="commentObj.comment" placeholder="Add your comment" flex required layout-padding ></textarea>
          <div layout="row">
            <md-select placeholder="Assign To" ng-model="commentObj.assigned_to" flex="20">
              <md-option ng-value="participant.id" ng-repeat="participant in project.participants">{{ participant.displayName }}</md-option>
            </md-select>
            <md-select placeholder="State" ng-model="commentObj.progress_state" flex="20">
              <md-option ng-value="state.value" ng-repeat="state in states">{{ state.text }}</md-option>
            </md-select>
            <md-input-container ng-if="user.employee" flex>
              <label>Hours</label>
              <input ng-model="commentObj.hours" type="number" step="0.01">
            </md-input-container>
          </div>
          <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-disabled="savingComment">
              Comment
            </md-button>
          </div>
        </form>
      </md-whiteframe>
    </div>
  </div>
</div>
