{% extends 'project/home.jinja' %}

{% block extra_head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href="{{ url_for('project.work.send_static_file', filename='css/jquery.gantt.css') }}" />
{% endblock %}

{% block left %}
<ul class="nav nav-tabs nav-stacked">
  <li>
    <a href="{{ url_for('project.work.home') }}"><i class="icon-arrow-left"></i> Back to projects list</a>
  </li>
</ul>
{{ super() }}
{% endblock %}

{% block breadcrumb %}
{{ super() }}
<li class="divider">/</li>
<li><a href="{{ url_for('project.work.render_global_gantt') }}">Global Timesheet Gantt</a></li>
{% endblock %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div id='gantt'></div>
  </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}

<script type='text/javascript' src="{{ url_for('project.work.send_static_file', filename='js/jquery.fn.gantt.js') }}"></script>
<script>
  $(document).ready(function() {
      $("#gantt").gantt({
        source: '{{ url_for('project.work.render_global_gantt') }}',
        //source:data,
        navigate: "scroll",
        scale: "days",
        maxScale: "days",
        scrollToToday: true,
        minScale: "days",
        itemsPerPage: 15,
        onItemClick: function(data) {
          alert("Item clicked - show some details");
        },
        onAddClick: function(dt, rowId) {
          alert("Empty space clicked - add an item!");
        },
        onRender: function() {
          if (window.console && typeof console.log === "function") {
            console.log("chart rendered");
          }
        }
      });
  });
</script>
{% endblock %}
