{% extends 'base.jinja' %}

{% from '_helpers.jinja' import render_field %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){


  // Use client side validation on the form
  $("form#new-password-form").validate({
    errorElement: "span",
    wrapper: "li",
    errorPlacement: function(error, element) {
      error.insertAfter(element);
      console.log(error);
      console.log(element);
      element.parents("div.clearfix").addClass("error");
    },
    submitHandler: function(form) {
      $("form#new-password-form button.cont").button('loading');
      form.submit();
    }
  });
});
</script>
{% endblock %}

{% block container %}
<div class="row-fluid">
  <div style="text-align:center">
    <img src="http://placehold.it/140x140" class="img-polaroid">
  </div>
</div>
<br>
<div class="row-fluid clearfix">
  <div>
    <div id="login" class="center" style="text-align:center">
      <form action="{{ url_for('nereid.user.new_password', active_id=user.id, sign=sign) }}"
          method="POST" class="clearfix" id="new-password-form">
        <fieldset>

          {{ render_field(password_form.password, placeholder="password", input_prepend='icon-key', show_label=False) }}
          {{ render_field(password_form.confirm, placeholder="confirm password", input_prepend='icon-key', show_label=False) }}

          <button class="btn btn-info " value="" type="submit">
            <i class="icon-signin icon-white"></i>
            {% trans %}Set new Password{% endtrans %}
          </button>
	  <br/>
          <br/>
          <div class="alert alert-success">
            <p>You have just used your one-time reset password link. You may now set your password. Your account will be enabled with this new password</p>
          </div>
     
          <h5>{% trans %}Don't have an account ? {% endtrans %}<a href="{{ url_for('nereid.user.registration', next=request.args.get('next', url_for('nereid.website.home'))) }}">Sign up now</a>!</h5>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div>

</div>

{% endblock %}
